body {
  background-color: #252525;
  color: white;
}

main {
  margin: 0 55px 0 55px;
}

h1 {
  visibility: hidden;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 24px;
  margin: 0 0 0 0;
}

h3 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-size: 130px;
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  margin-top: 52px;
  margin-bottom: 100px;
  font-family: "Istok Web", sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  margin: 80px 55px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style-type: none;
}

#logo {
  width: 110px;
  height: 116px;
}

#headline-color-2 {
  color: #91a6ff;
}

#resume {
  border-radius: 60px;
  border-color: #91a6ff;
  border-width: 10px;
  border-style: solid;
  background-color: #252525;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  width: fit-content;
  font-size: 50px;
  padding: 35px;
  margin-top: 20px;
}

.ellie {
  width: 850px;
  height: 1130px;
  margin-top: 150px;
  margin-bottom: -6px;
}

.skills {
  background-color: #91a6ff;
  margin: auto -66px;
  padding: 130px 66px;
}

.skills h3 {
  color: #1f2f74;
}

.works {
  padding: 150px 0;
}

#project-showcase {
  background-color: #2a2b30;
  margin: auto -66px;
  padding: 130px 66px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #91a6ff;
  color: white;
  margin: auto -66px;
  padding: 200px 280px;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#footer img {
  width: 120px;
  height: max-content;
}
#p {
  margin: 130px 0 0 0;
}
footer p {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
  font-size: 34px;
  margin: 0;
}
#git {
  padding: 0 80px;
}
