/* || General styles */

body {
  background-color: #252525;
  color: white;
  margin: 0px;
}

/* || Typography */

h1 {
  visibility: hidden;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.37em;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-size: 52px;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 1440px) {
  h3 {
    font-size: 64px;
  }
}

h4 {
  font-family: "Istok Web", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #1f2f74;
  margin: 33px 0 0 33px;
}

h5 {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  letter-spacing: 0.4em;
  font-size: 16px;
  color: #91a6ff;
  margin: 5px 0 70px 33px;
}

h5 a {
  color: #91a6ff;
}

p {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Istok Web", sans-serif;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  p {
    font-size: 20px;
  }
}

/* || Header and Main Navigation */

header {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px 26px;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 37px 0 0 60px;
  }

  nav {
    margin-right: 135px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style-type: none;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  ul {
    gap: 90px;
  }
}

/* || Utilities */

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  border: none;
  border-bottom: 5px solid #91a6ff;
}

#headline-color-2 {
  color: #91a6ff;
}

.margin-mobile {
  margin: 0 26px 0 26px;
}

/* || Visual Assets */

#logo {
  width: 33px;
  height: 39px;
}

@media only screen and (min-width: 1024px) {
  #logo {
    width: 52px;
    height: 60px;
  }
}

.ellie {
  margin-top: 30px;
  margin-bottom: -1px;
}

@media only screen and (min-width: 768px) {
  .ellie {
    width: 350px;
    height: 450px;
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .ellie {
    width: 410px;
    height: 525px;
  }
}

@media only screen and (min-width: 1440px) {
  .ellie {
    margin-left: 175px;
    width: 535px;
    height: 690px;
  }
}

/* || About Me */

.about-me {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .about-me {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me p {
    margin-bottom: 30px;
  }

  #zwei {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1024px) {
  .about-me {
    margin-left: 86px;
  }
}

@media only screen and (min-width: 768px) {
  .about-me div {
    width: 45%;
  }

  #icons {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .about-me div {
    width: 475px;
  }
}

#resume {
  border-radius: 20px;
  border-color: #91a6ff;
  border-width: 5px;
  border-style: solid;
  background-color: #252525;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  width: 190px;
  height: 60px;
  font-size: 20px;
}

#zwei {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
}

@media only screen and (min-width: 768px) {
  #zwei {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  #resume {
    width: 155px;
    height: 45px;
    font-size: 15px;
  }
}

#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  visibility: hidden;
}
#icons img {
  width: 35px;
  height: max-content;
}

@media only screen and (min-width: 768px) {
  #icons {
    visibility: visible;
  }
}

/* || Skills */

.skills {
  background-color: #91a6ff;
  padding: 40px 26px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .skills {
    flex-direction: row;
  }

  #box {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .skills {
    padding-left: 86px;
  }

  #box {
    width: 45%;
  }
}

.skills h3 {
  color: #1f2f74;
}

/* || Projects */

.works {
  margin-top: 70px;
}

@media only screen and (min-width: 768px) {
  .works {
    width: 45%;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .works {
    margin-left: 86px;
    width: 45%;
  }
}

#project-showcase {
  background-color: #2a2b30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 26px;
  gap: 60px;
}

@media only screen and (min-width: 768px) {
  #project-showcase {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#project {
  background-color: #e9edff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 400px;
  width: 270px;
  border-radius: 20px;
}

#img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 40px 0;
  height: 65%;
}

#description-box {
  background-color: white;
  height: 45%;
  width: inherit;
  align-self: end;
  border-radius: 0 0 20px 20px;
  align-items: center;
}

#img-project {
  width: 131px;
  height: 154px;
}

/* || Contact form */

.contact-form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .contact-form {
    margin-left: 86px;
    margin-right: 86px;
  }
}

.contact-form h2,
.contact-form h3 {
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  form {
    flex-wrap: wrap;
    /* flex-direction: row; */
  }

  #name,
  #mail {
    width: 335px;
  }

  .contact-input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-info-wrapper {
    display: flex;
    align-self: center;
    gap: 180px;
  }
}

input[type="text"],
textarea {
  width: 100%;
  background-color: #252525;
  color: #91a6ff;
  caret-color: #91a6ff;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  margin: 20px 0 50px 0;
  padding-bottom: 15px;
  /* resize: vertical; */
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid #91a6ff;
}
input[type="text"]:focus::placeholder,
textarea:focus::placeholder {
  visibility: hidden;
}

::placeholder {
  color: #91a6ff;
  opacity: 45%;
}

#subject {
  height: fit-content;
  font-size: 16px;
}

input[type="submit"] {
  border-radius: 30px;
  border-color: #91a6ff;
  border-width: 5px;
  border-style: solid;
  background-color: #252525;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  height: 45px;
  width: 160px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
}

.container label {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 18px;
  color: white;
  margin: 0 0 30px 0;
}

.container {
  margin-bottom: 100px;
  display: flex;
}

/* || Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #91a6ff;
  color: white;
  padding: 70px 90px 40px 90px;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#footer img {
  width: 45px;
  height: max-content;
}
#p {
  margin: 45px 0 0 0;
}
footer p {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
  font-size: 12px;
  margin: 0;
}
#git {
  padding: 0 25px;
}
